[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "duckdb>=1.4.4",
    "fastapi>=0.129.0",
    "pydantic>=2.12.5",
    "uvicorn[standard]>=0.40.0",
]
